
<!DOCTYPE html>
<html lang="en" ng-app="chromeElite">
<head>
    <title>Elitist</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
        <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  

    <script type="text/javascript" src="onLoad.js"></script>
    <script src="todo.js"></script>
    <script src="evening.js"></script>  
    <script src="/js/highcharts.js"></script>
    <script src="morningWeather.js"></script>
    <script src="unslider.min.js"></script>
    <script src="sports.js"></script>
  
    <!-- Google fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div id="background"></div>
  <div id="wrapper"> <!-- We're gonna be setting the background of this -->
    <div id="morningCnt" class="cnt">
      <div id="calendarWidget" class="cnt-item">
        <iframe src="calendar.html"></iframe>
      </div>
      <div id="weatherWidget" class="cnt-item">
      </div>
      <div id="newsWidget" class="cnt-item">
      </div>
    </div>
    <div id="afternoonCnt" class="cnt">
      <div class='parent-s cnt-item'>
   		<div class="container-s" id="sport-container" >
   			<ul id="sports"></ul>
  		</div> 
	  </div>
      <div id="weatherWidget" class="cnt-item">
      </div>
      <div id="emailWidget" class="cnt-item">
      </div>
      <div class="lunchWidget">
      </div>
    </div>
    <div id="eveningCnt" class="cnt">
      <div id="sportsWidget" class="cnt-item">
      </div>
      <div id="nearbyEventsWidget" class="cnt-item">
      </div>
      <div id="barsWidget" class="cnt-item">
      </div>
    </div>
    <div id="lateNightCnt" class="cnt">
      <div id="redditWidget" class="cnt-item">
      </div>
      <div id="clock" class="cnt-item">
        <h2>Tomorrow</h2>
        <ul>
          <li>Beat Evan</li>
          <li>Tell Evan he's a tomato</li>
          <li>Do other stuff</li>
        </ul>
      </div>
    </div>
    <div ng-controller="TodoWidget" class="cnt-item">
      <ul class="unstyled">
        <li ng-repeat="todo in todos | filter:todo.done:false">
          <div>
            <span class="todoSpan">{{todo.text}}</span>
            <input type="button" class="icon-remove-circle" ng-model="todo.done"></input>
          </div>
        </li>
      </ul>

      <form class="form-horizontal" ng-submit="addTodo()">
        <input type="text" ng-model="formTodoText" placeholder="put new todo here" ng-model-instant>
        <button class="btn"><i class="icon-plus"></i></button>
      </form>
    </div>
  </div> <!-- end of wrapper -->
</body>
</html>

