html, body {
  margin: 0px;
}

body {
  background-color:black;
  height:100%;
}
#background {
  background:url('test.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  width:100%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}
#reddit-widget {
  width:50%;
}
#wrapper {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
}
#reddit-widget {
  width:50%;
}
.cnt {
  height:100%;
  padding:20px;
}
.cnt-item {
  border:1px solid pink;
  float:left;
  margin-right:20px;
  padding:20px;
}
