html, body {
  margin: 0px;
}

body {
  background-color:black;
  height:100%;
}
#wrapper {
  background:url('test.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  width:100%;
}
.cnt {
  height:100%;
  padding:20px;
}
.cnt-item {
  border:1px solid pink;
  float:left;
  margin-right:20px;
  padding:20px;
}

#sports > li{
list-style:none;
height:320;
width:620;
}

.parent-s{width:500px;}
.container-s { position: relative; overflow: auto; width:100%; }
.container-s li { list-style: none;  width:100%}
.container-s ul li { float: left; }
.container-s ul li p {align:left; color:white;}
