html, body {
  margin: 0px;
}

body {
  background-color:black;
  height:100%;
}

h2 {
  color:#63D1F4;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:3em;
  margin:0;
  margin-left:40px;
  padding:0;
  opacity:0.8;
}

#background {
  background:url('test.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  height:100vh;
  width:100%;
  -webkit-filter: blur(20px);
  -webkit-transform: translate3d(0, 0, 0);
  opacity:0.2;
}
#wrapper {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
#wrapper-inner {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  top:0px;
}
#header {
  display:block;
  height:200px;
}
.header-item {
  color:white;
  display:block;
  font-family:'Roboto' sans-serif;
  float:left;
  text-transform:uppercase;
}
#weatherWidget2 {
  border-left:1px solid #63D1F4;
  margin-top:100px;
  margin-left:20px;
  padding-top:10px;
  padding-left:20px;
}
#weatherWidget2 img {
  float:left;
}
#weatherWidget2 p {
  float:left;
  margin:10px;
  padding:0;
}
.cnt {
  height:400px;
  padding:20px;
  /*display: none;*/
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
iframe {
  height: 400px;
}
.cnt-item {
  color: white;
  float:left;
  margin-right:20px;
  padding:20px;
}
.todoSpan {
  width: 100%;
}
.todoSpan i {
  float: right;
}
.done-true {
  display: none;
}
#realClock h1 {
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:6em;
  margin-bottom:0px;
  opacity:1.0;
  padding-left:1em;
}
#redditWidget {
  padding-top:20px;
  position:relative;
  text-align:right;
}
#redditWidget img {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
  width:35em;
}
#redditWidget h1 {
  color:#bbb;
  display:block;
  font-family: 'Gentium Basic', serif;
  font-weight:400;
  font-size:1.5em;
  font-style:italic;
  float:right;
}
#clock {
  padding-top:0;
}
#clock h1 {
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:6em;
  margin-bottom:0px;
  opacity:1.0;
}
#clock h2 {
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:3em;
  margin:0;
  opacity:0.8;
}
#clock ul {
  list-style:none;
  padding:0;
}
#clock li {
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:1.3em;
  opacity:0.8;
}
#sports {
  margin-left:-40px;
}
#sports > li {
  height: 240px;
}
#news > li{
  height: 120px;
}
#sports, #news > li{
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:1.3em;
  opacity:0.8;
  list-style:none;
}
li a {
  color: white !important;
}
#todoList {
  font-size:0.8em;
  padding-top:20px;
}
#todoList a.btn-close {
  color:#63D1F4;
  cursor:pointer;
  font-size:0.7em;
  position:relative;
  text-decoration:none;
}
#todoList input[type=text] {
  border:none;
  padding:2px;
}
#todoList input[type=submit] {
  background:none;
  border:none;
  color:#63D1F4;
  text-transform:uppercase;
}
#calendarWidget {
  border-left:1px solid #63D1F4;
  font-family:"Roboto" sans-serif;
  font-weight:100;
  padding-left:2em;
  opacity:0.8;
}
#calendarWidget h4 {
  font-size:1em;
  margin:0;
  opacity:0.9;
}
#calendarWidget h5 {
  color:#63D1F4;
  font-size:0.8em;
  margin:0;
}
#morningCnt {
  margin-left:auto;
  margin-right:auto;
}
#newsWidget {
  border-left:1px solid #63D1F4;
  font-family:"Roboto" sans-serif;
  font-weight:100;
  padding-left:2em;
  opacity:0.8;
}

#events > li{
  color:white;
  font-family:"Roboto", sans-serif;
  font-weight:100;
  font-size:1.3em;
  opacity:0.8;
  list-style:none;
  height:120px;
  width:100%;
}



.parent-s{width:80%;}
.container-s li { list-style: none;  width:100%}
.container-s { position: relative; overflow: hidden;width:600px;}
.container-s li { list-style: none;  width:500px;}
.container-s ul li { float: left; }
.container-s ul li p {text-align:left; color:white;}
